:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
    max-height: 400px;
    border: 1px solid black;
    padding: 5px;
}

.health-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
}

.player-health {
    height: 100%;
    width: 100%;
}

.health-button {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.command-block {
    border: 1px solid black;

    .command-tax {
    // border: 1px solid black;
    }
}
