@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    gap: 4px;


    @include mat.button-toggle-overrides((
      shape: var(--mat-sys-corner-small),
    ));
  }

  .game-config {
    margin-bottom: 10px;
  }

.toggle-group-selection, .start-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
}

