@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.commander-damage-assignment-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.partner-section {
    display: flex;
    justify-content: center;
}

.partner-toggle {
    transform: scale(0.8);
    transform-origin: left center;
}