@use '@angular/material' as mat;

:host {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.commander-damage-assignment-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

